@{
    ViewData["Title"] = "Fale Conosco";
}
<main class="contato">
    <div class="container-fluid bg-white">
        <p>
            <strong>Contatos:</strong><br>
            <a href="mailto:Daniel.Santos@recode.org.br">Daniel.Santos@recode.org.br</a>
        </p>
        <a href="https://github.com/DanielSantos08" target="_blank">Daniel Santos</a>
    </div>
</main>