@{
    ViewData["Title"] = "Destinos";
}
    <main class="destino">
        <div class="container-fluid">

            <div class="d-flex bg-white justify-content-center">
               <p><strong>>Escolha Seu Destino</strong></p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <img class="imgdestinos" src="/css/imagens/Destinos/Salvador-Ba.jpg" alt="Salvador-Ba">
                <p class="bg-white p-4"><strong>Salvador-BA</strong><br><br><strong class="preco">R$ 2.000</strong></p>
                <button class="btn btn-danger p-3 h-25">COMPRAR</></button>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <img class="imgdestinos" src="/css/imagens/Destinos/sao_paulo.jpg" alt="sao_paulo">
                <p class="bg-white p-4"><strong>São Paulo-SP</strong><br><br><strong class="preco">R$ 2.500</strong></p>
                <button class="btn btn-danger p-3 h-25">COMPRAR</></button>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <img class="imgdestinos" src="/css/imagens/Destinos/RioDeJaneiro-RJ.jpg" alt="RioDeJaneiro-RJ">
                <p class="bg-white p-4"><strong>Rio De Janeiro-RJ</strong><br><br><strong class="preco">R$ 3.000</strong></p>
                <button class="btn btn-danger p-3 h-25">COMPRAR</></button>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <img class="imgdestinos" src="/css/imagens/Destinos/chapada-dos-veadeiros.jpg" alt="chapada-dos-veadeirosgoias">
                <p class="bg-white p-4"><strong>Chapada Dos Veadeiros-GO</strong><br><br><strong class="preco">R$ 4.000</strong></p>
                <button class="btn btn-danger p-3 h-25" href="TelaLogin">COMPRAR</></button>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <img class="imgdestinos" src="/css/imagens/Destinos/fernandodenoronhaPE.jpg" alt="fernandodenoronhaPE">
                <p class="bg-white p-4"><strong>Fernando De Noronha-PE</strong><br><br><strong class="preco">R$ 5.000</strong></p>
                <button class="btn btn-danger p-3 h-25">COMPRAR</></button>
            </div>
        </div>
    </main>