@{
    ViewData["Title"] = "Promoções";
}
<main class="promo">
    <div class="container-fluid bg-white w-25">
        <p>
            <strong>
                VENHA VIAJAR MAIS BARATO CONOSCO!!! <br>
                CONFIRA NOSSAS OFERTAS
            </strong>
        </p>
    </div>
    <div class="d-flex bg-white w-35 p-2 m-5 align-items-center justify-content-center bg-white">
        <img class="imgpromocao" src="/css/imagens/pix.png" alt="PIX">
        <p><strong>25% de Desconto com Pix</strong></p>
    </div>
    <div class="d-flex bg-white w-35 p-2 m-5 align-items-center justify-content-center bg-white">
        <img class="imgpromocao" src="/css/imagens/descontosporcentagem.png" alt="descontosporcentagem">
        <p><strong>Desconto Progressivo até 30 %</strong></p>
    </div>
    <div class="d-flex bg-white w-35 p-2 m-5 align-items-center justify-content-center">
        <img class="imgpromocao" src="/css/imagens/newyear.png" alt="newyear">
        <p><strong>Comece o Ano com o Pé Direito!!! <br>Confira nossas ofertas de ano novo!</strong></p>
    </div>
</main>