@{
    ViewData["Title"] = "Login";
}
<main class="login">
    <div class="container-fluid text-white">
        <label for="login">Email:</label>
        <input type="email" id="login" name="login">
        <label for="senha">Senha:</label>
        <input type="password">
        <p>Ainda não é cadastrado?</p>
    </div>
</main>